<%- include('header') -%>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
    Sequi ullam rerum architecto error laudantium dignissimos est, 
    voluptatem asperiores provident voluptates rem laborum. 
    Quibusdam, incidunt saepe! Amet asperiores earum ad fugiat.
</p>

<%- include('footer') -%>