<%- include('header') -%>

    <% tasksLst.forEach((task)=>{ %>
        <div class="item">
            <input type="checkbox">
            <p><%= task %></p>
        </div>
    <% }) %>
        <form action=' <%= route %> ' method="post" class="item">
            <input type="text" name="newTask" placeholder="new task" autocomplete="off">
            <button type="submit">+</button>
        </form>

<%- include('footer') -%>