<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= currentDay %> Todo List</h1>  
    <ul>
        <li>buy food</li>
        <li>cook food</li>
        <li>eat food</li>
        <li><%=newListItem%></li>
        <li>
            <form action="/" method="post">
                <input type="text" name="newTask">
                <button type="submit">Add</button>
            </form>
        </li>
    </ul>
</body>
</html> 