<%- include('header') -%>

    <% for (i=0; i < tasksLst.length; i++){ %>
        <div class="item">
            <input type="checkbox">
            <p><%= tasksLst[i] %></p>
        </div>
    <% } %>
        <form action=' <%= route %> ' method="post" class="item">
            <input type="text" name="newTask" placeholder="new task" autocomplete="off">
            <button type="submit">+</button>
        </form>

<%- include('footer') -%>