<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="box" id="heading">
        <h1>Todo List:</br> <%= taskListType %> <%= taskListDate %> </h1>  
    </div>

    <div class="box">        
        <% for (i=0; i < tasksLst.length; i++){ %>
            <div class="item">
                <input type="checkbox">
                <p><%= tasksLst[i] %></p>
            </div>
        <% } %>
        
        <% if (taskListType === 'Work | '){ %>
            <form action='/work' method="post" class="item">
        <% }else{ %>
            <form action='/' method="post" class="item">
        <% } %>

                <input type="text" name="newTask" placeholder="new task" autocomplete="off">
                <button type="submit">+</button>
            </form>
    </div>
</body>
</html> 